.slider {
	position: absolute;
	display: block;
}

.slider > .toggle {
	cursor: pointer;
	border: 3px solid #3DA647;
	border-top: none;
	text-align: center;
	color: black;
	font-family: Arial;
	font-weight: bold;
	text-decoration: none;
	padding: 3px 10px;
	position: relative;
	top: 3px;
	background: #F7F7F9;
	white-space: nowrap;
}
